/* Sfondo */
body {
    background: #0f172a;
    color: #e2e8f0;
}

/* Titolo */
.title {
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(90deg, #ffffff, #e2e8f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #1e293b;
    margin-bottom: 20px;
}

/* Tabella */
.table-moder {
    border-radius: 12px;
    /*overflow: hidden;*/
    background: #1e293b;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Righe */
.row-moder {
    transition: 0.25s ease;
}

.row-moder:hover {
    background: #4cff00 !important;
    color: #000;
    transform: scale(1.02); /* effetto elegante, non distruttivo */
}
